*~
.\#*
\#*\#
Makefile
Makefile.in
aclocal.m4
*.o
*.lo
*.so
*.la
*/.deps
*/.libs
/bin/country_lookup
/bin/mmdbdump
/bin/mmdblookup
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/t/*_t
