*.la
*.lo
*.o
*.so
*/.deps
*/.libs
*~
.\#*
/INSTALL
/autom4te.cache
/bin/country_lookup
/bin/mmdbdump
/bin/mmdblookup
/config.*
/configure
/depcomp
/include/maxminddb_config.h
/install-sh
/libmaxminddb-*.tar.gz
/libtool
/ltmain.sh
/man
/missing
/t/*_t
Makefile
Makefile.in
\#*\#
aclocal.m4
stamp-h*
